
.replyButton {
    -moz-box-shadow:inset 0px 0px 0px 0px #f5978e;
    -webkit-box-shadow:inset 0px 0px 0px 0px #f5978e;
    box-shadow:inset 0px 0px 0px 0px #f5978e;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
    background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
    background-color:#f24537;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0px;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:63px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #810e05;
}
.replyButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
    background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
    background-color:#c62d1f;
}.replyButton:active {
    position:relative;
    top:1px;
}


.attchmt_btn {
  background: #0099ff;
  background-image: -webkit-linear-gradient(top, #0099ff, #009dff);
  background-image: -moz-linear-gradient(top, #0099ff, #009dff);
  background-image: -ms-linear-gradient(top, #0099ff, #009dff);
  background-image: -o-linear-gradient(top, #0099ff, #009dff);
  background-image: linear-gradient(to bottom, #0099ff, #009dff);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  font-weight:bold;
  padding: 3px 8px 3px 8px;
  text-decoration: none;
}

.attchmt_btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #45b5ff);
  background-image: -moz-linear-gradient(top, #3cb0fd, #45b5ff);
  background-image: -ms-linear-gradient(top, #3cb0fd, #45b5ff);
  background-image: -o-linear-gradient(top, #3cb0fd, #45b5ff);
  background-image: linear-gradient(to bottom, #3cb0fd, #45b5ff);
  text-decoration: none;
}
