.bold{
	font-weight: bold;	
}

h5 {
	margin-before: 0.67em;
	margin-after: 0.67em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
p{
	margin-before: 0.5em;
	margin-after: 0.5em;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

body {
	display: block;
}

#reply {
	width: 98%;
	margin: auto;
	background-color: #EFEFEF;
	padding: 0 10px;
}

#reply .title {
	display: inline-block;
}

#reply .content {
	padding-bottom: 20px;
}

#mailContainer {
	width: auto;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #c4d4f5;
	border-radius: 10px 10px 10px 10px;
}

#mailViewer {
	padding: 10px 10px 10px 10px;
	position: relative;
	height: auto;
}

#mailContent {
	padding: 2px 0px 10px 5px;
	font-size: 12px;
}

#mailContent img{
	max-width: 100%;
}



/* Loading bar */
.pageOverlay {
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1001;
	display: block;
}

#loadingOverlay {
	background: #fff
		url('//ajax.googleapis.com/ajax/libs/dojo/1.9.2/dijit/themes/claro/images/loadingAnimation.gif')
		no-repeat 10px 23px;
}

.loadingMessage {
	padding: 25px 40px;
	color: #999;
}